# ==========================================================
# KONFIGURASI ENVIRONMENT VARIABLES
# Media Pembelajaran Interaktif: Bilangan Bulat (BilBul)
# ==========================================================

# 1. URL Project Supabase Anda
# Ditemukan di: Supabase Dashboard -> Project Settings -> API -> Project URL
SUPABASE_URL="https://epcpqnrewpddcihctzjj.supabase.co"

# 2. Public Anon Key Supabase Anda
# Ditemukan di: Supabase Dashboard -> Project Settings -> API -> Project API Keys (anon / public)
# PERHATIAN: JANGAN PERNAH MEMASUKKAN SERVICE_ROLE_KEY KE FRONT-END!
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwY3BxbnJld3BkZGNpaGN0empqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3NTA1OTUsImV4cCI6MjEwNDMyNjU5NX0.USO4T_JWYJfnDpX_i9f89rigbi8g45_SogY2KaTBvks"
